# Application
APP_NAME=face-recognition-system
APP_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=face_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSLMODE=require  # set for Neon/cloud Postgres (e.g. require)

# Face Recognition Thresholds
FACE_MATCH_THRESHOLD=0.40
FACE_DUPLICATE_THRESHOLD=0.30

# Logging
LOG_LEVEL=INFO
# Auth
JWT_SECRET=4d9c490cc2e8b264177708569502a9db4e1e86a0df6839a8
JWT_ALGORITHM=HS256
